

<nav class="navbar navbar-default">
      <div class="navbar-header">
        <img class="navbar-brand" style="width:90px; height:50px; padding: 0;" src="/logo.jpg"></img>
      </div>
      <ul class="nav navbar-nav navbar-right">
      	<li><%= link_to("Unreported Scans", images_path,method: :get) %> </li>
        <li><%= link_to("Reported Scans", images_check_path, method: :get) %></li>
        <li><%= link_to("API Demo", pages_demo_path, method: :get) %></li>
        <li><%= link_to("Sign Out", destroy_user_session_path, method: :delete) %> </li>

      </ul>
</nav>
<h3>Possible Epidemic Outbreak:</h3>
<h5>Suspicious cluster of cases of pneumonia detected in Hong Kong West Cluster</h5>
<div id="googleMap" style="width:100%;height:400px;"></div>
<div>
	<h3>West Cluster</h3>
	<ul>
		<li><a href="#">Queen Mary Hospital</a></li>
		<li><a href="#">Tsan Yuk Hospital</a></li>
		<li><a href="#">The Duches of Kent Children's Hospital at Sandy Bay</a></li>
		<li><a href="#">Grantham Hospital</a></li>
		<li><a href="#">Fung Yiu King Hospital</a></li>
		<li><a href="#">Tung Wah Hospital</a></li>
	</ul>


</div>

<script>
function myMap() {
var mapProp= {
    center:new google.maps.LatLng(22.269084,114.131083),
    zoom:15,
};
var map= new google.maps.Map(document.getElementById("googleMap"),mapProp);

var queen = new google.maps.LatLng(22.269084,114.131083);
var marker = new google.maps.Marker({position:queen});
marker.setMap(map);

var tsan =  new google.maps.Latng(22.286014, 114.144496);
var marker_2 = new google.maps.Marker({position:tsan});
marker_2.setMap(map);


}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwwjfhxfgCLUxbvApcOzkd_HyDuwymQz0&callback=myMap"></script>

<!--
<h3>Possible Epidemic Outbreak:</h3>
<h5>Suspicious cluster of cases of pneumonia detected in Hong Kong West Cluster</h5>
<div id="map"></div>
v


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwwjfhxfgCLUxbvApcOzkd_HyDuwymQz0&callback=myMap"></script>

<script>
  var locations = [
  	["Queen Mary Hospital", 22.269084,114.131083,1],
  	["Tsan Yuk Hospital", 22.286014, 114.144496, 2]

  ]
  function myMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: new google.maps.LatLng(22.269084,114.131083),
    });

    var infowindow = new google.maps.InfoWindow();


  	var marker, i;

  	for (i=0; i < locations.length; i++){
  		marker = new google.maps.Marker({
  			position: new google.maps.LatLng(locations[i][1], locations[i][2], map: map)
  		});
  	}

  	 google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    
  }
</script>

   
  </body>
  -->