@import "bootstrap-sprockets";
@import "bootstrap";
*{
	text-align: center;
	margin: auto;
}

td{
	text-align: left;
}

.log-in{
	border-style: solid;
	width: 50%;
	margin: auto;
	margin-top: 20em;
}

#x-ray{
	width: 35em;
	height: 40em;
}

.report{
	margin-top: 10%;
}

.report_text{
	margin-top:1em;
}
.simple_form div.input {
  width: 5em;
  clear: both; /* Required for Webkit, but not for Gecko */
}

#green {
	background-color: green;
	width: 25px;
}

#red{
	background-color:red;
	width: 25px;
}

.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    font-size: 1em;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

/*
nav {
	background-color: #48D1CC;
	color: white;
}

.navbar{
	background-color: 	#40E0D0;
	color: white;

}

.nav{
	
	background-color: 	#40E0D0;
	color: white;

}

ul.nav > li {
	color: white;
}
*/
#map{
    height: 400px;
}

#map_canvas {
    width: 100%;
    height: 100%;
}